.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content ;
}

.amazon_banner{
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
}

.basket__title{
 margin-right: 10px;
 padding: 10px;
 border-bottom: 1px solid lightgray;
}

.checkout{
    display: flex;
    justify-content: space-between;
}
