.checkoutProduct{
 display: flex;
 margin-top: 20px;
 margin-bottom: 20px;
}

.checkoutProduct__image{
    width: 100px;
    object-fit: contain;
    margin: 0 20px ;
    margin-top: 10px;
}
.checkoutProduct__info{
    padding-left:20px ;
}

.remove__btn{
    background:#f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88738 #9c7e31 #846a29;
    color: #111;


}