.header{
height: 60px;
display: flex;
align-items: center;
background-color: #131921;
position: sticky;
top: 0;
z-index: 100;
}

.header_img{
    width: 100px;
    object-fit: contain;
    margin: 0 20px ;
    margin-top: 10px;
}

.header__search-icon{
    padding: 5px;
    height: 22px; 
    background-color: #cd9042;
    cursor: pointer;
}


.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius:24px ;
    margin-right: 5px;
}
.header__search-input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 1px;
    margin-right: 10px;
}

.header__option-LineOne{
    font-size: 13px;
}

.header__option-LineTwo{
    font-size: 16px;
    font-weight: 700;
}